.spec{
    max-width: 1000px;
    margin: 0 auto;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list{
        display: flex;
        justify-content: space-between;
        .itemlist{
            width: 100px;
            height: 100px;
            text-align: center;
            box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
            padding: 10px;
        }
    }

}